.uye_temp{
  margin-bottom:2rem;
  width:100%;
  height:auto;
  display: inline;
  
  
}
.uye_cerceve{
  border: 2px solid #A4320A;
  border-radius: 1rem;
  width: 100%;
  height: 12rem;
}
.uye_card{
  width: 10rem;
  height: 10rem;
  margin-left: 1rem;
  border: 1px #34009C solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  float:left;
}
.uye_bilgi{
  float: left;
  padding-left: 2rem;
  margin-top: 1rem;
  
}
.uye_ad{
  font-size: medium;
  font-weight: bold;
}
.uye_gorev{
  font-size: small;
}
